@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.centered {
  justify-content: center; /* center items horizontally, in this case */
  align-items: center;     /* center items vertically, in this case */
  display: flex;
}

a{
  color: white;
}




* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* sources https://unsplash.com/photos/c9OCWLka764 */
body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 250vh 100vh;

  
}

.container {
  min-width: 203vh;
  margin: 1px auto;
  overflow: auto;
  min-height: 750px;
  border: 5px solid rgb(41, 43, 44);
  padding: 1px;
  border-radius: 5px;
  background-color: 	#d8d5d2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center; 
  margin-bottom: 20px;
  background-color: 	#9f9b98;
  margin: auto;
  padding: 5px;
  

}





.btn {
  display: inline-block;
 background: #242424;
  border: .1px solid rgb(41, 43, 44);
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
  
}

.task {
  background: #bbbbb6;
  margin: 5px, 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: 2px solid rgb(41, 43, 44);
  border-radius: 5px;
  margin: 10px;
  margin-right: 700px;
 
}

.task.reminder {
  border-left: 5px solid green;
  
}

.task h3 {
  display: flex;
  justify-content: space-between;
  text-align: center;
}






.footer {
 
  justify-content: space-between;
  align-items: center;
  text-align: center; 
  margin-bottom: 100px;
  background-color: 	#9f9b98;
  position: relative;
  bottom:-300px;
  left:0%;

  margin: 5px auto;
  padding: 5px;
}
